

<header class="li-showrec-xs">
    <img src="~/img/banner-rest.jpg" class="banner-rest" alt="Everyeight logo">
</header>

<header class="li-home-ml">
    <!-- ml header -->
    <img src="~/img/ee-logo.png" class="ee-logo-ml" alt="Everyeight logo">
    <span class="ml-logo-text">Everyeight</span>

</header>
@{
    var roleId = Context.Session.GetInt32("RoleID");
    var empId = Context.Session.GetInt32("EmpId");
    var employeeName = Context.Session.GetString("EmployeeName");
    var positionName = Context.Session.GetString("PositionName");
}

<nav class="clearfix ml-navbar">
    <ul class="ml-nav-ul">
        
        @if (Context.Session.GetInt32("RoleID") == 1 || Context.Session.GetInt32("RoleId") == 1)
        {
            <li class="nav-li-admin">
                Admin
                <ul>
                    <li><a asp-controller="Admin" asp-action="RecordList">Record List</a></li>
                    <li><a asp-controller="Admin" asp-action="EmployeeList">Employees</a></li>
                    <li><a asp-controller="Admin" asp-action="Userlist">Users</a></li>
                </ul>
            </li>
        }
        else if (Context.Session.GetInt32("RoleID") == 2 || Context.Session.GetInt32("RoleId") == 2)
        {
            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a asp-controller="Employee" asp-action="Index">Time Record</a></li>
        }
        else if (Context.Session.GetInt32("RoleID") == null && Context.Session.GetInt32("RoleId") != 1)
        {
            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
        }
        
        <div class="nav-userdiv">
            

            @if (empId == null)
            {
                <!-- Show login link if no user is logged in -->
                <li id="home-loginlink"><a>Login My Account</a></li>
            }
            else
            {
                <!-- Show user details if someone is logged in -->
                <li class="home-loggedin-link">
                    <span class="nav-loggeduser">
                        @employeeName
                    </span>
                    <span class="nav-userposition">
                        @positionName
                    </span>
                    <ul>
                        @if (roleId == 2)
                        {
                            <li><a asp-controller="Employee" asp-action="Index">My Time Record</a></li>
                            <li><a href="/Home/Logout">Logout</a></li>
                        }
                        else
                        {
                            <li><a href="/Home/Logout">Logout</a></li>
                        }
                </ul>
            </li>
            }
        </div>
    </ul>
</nav>